.basic-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 15px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 15px;
}

app-bar-chart {
  background-color: white;
  border-radius: 40px;
}

app-last-transactions {
  border-radius: 40px;
}
