<div class="table">
  <h1 class="item">Últimas transacciones</h1>
  <div class="container">

      <div class="flex-row" *ngFor="let transaction of transactions">
          <span class="name item">{{getTransactionTarget(loggedUserId, transaction)}}</span>
          <span class="amount item">$ {{transaction.amount}}</span>
          <span class="date item">{{transaction.date}}</span>
          <span class="status item" [ngClass]="getTransactionColor(transaction)">{{getTransactionStatus(transaction)}}</span>
      </div>

  </div>
</div>
