<body>
  <div class="container">
    <!-- Mitad izquierda con fondo blanco y título -->
    <div class="left-half">
      <h1>Bienvenidos a <strong>Unicomer</strong></h1>
    </div>

    <!-- Mitad derecha con fondo azul -->
    <div class="right-half">
      <div class="form-container">
        <span  class="logo"> Logo</span>
        <app-login-form class="form"></app-login-form>
      </div>

      <p class="register-text" (click)="register()">¿No tienes cuenta? Regístrate aquí</p>
    </div>
  </div>

</body>
